ENABLE_GITHUB_OAUTH=true
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_REDIRECT_URI=
SERVICE_FQDN_SUPABASEKONG=
SERVICE_PASSWORD_ADMIN=
SERVICE_PASSWORD_JWT=
SERVICE_PASSWORD_LOGFLARE=
SERVICE_PASSWORD_POSTGRES=
SERVICE_PASSWORD_SUPAVISORSECRET=
SERVICE_PASSWORD_VAULTENC=
SERVICE_SUPABASEANON_KEY=
SERVICE_SUPABASESERVICE_KEY=
SERVICE_USER_ADMIN=
ADDITIONAL_REDIRECT_URLS=
API_EXTERNAL_URL=http://supabase-kong:8000
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
DISABLE_SIGNUP=false
ENABLE_ANONYMOUS_USERS=false
ENABLE_EMAIL_AUTOCONFIRM=false
ENABLE_EMAIL_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true
ENABLE_PHONE_SIGNUP=true
FUNCTIONS_VERIFY_JWT=false
IMGPROXY_ENABLE_WEBP_DETECTION=true
JWT_EXPIRY=3600
MAILER_SUBJECTS_CONFIRMATION=
MAILER_SUBJECTS_EMAIL_CHANGE=
MAILER_SUBJECTS_INVITE=
MAILER_SUBJECTS_MAGIC_LINK=
MAILER_SUBJECTS_RECOVERY=
MAILER_TEMPLATES_CONFIRMATION=
MAILER_TEMPLATES_EMAIL_CHANGE=
MAILER_TEMPLATES_INVITE=
MAILER_TEMPLATES_MAGIC_LINK=
MAILER_TEMPLATES_RECOVERY=
MAILER_URLPATHS_CONFIRMATION=/auth/v1/verify
MAILER_URLPATHS_EMAIL_CHANGE=/auth/v1/verify
MAILER_URLPATHS_INVITE=/auth/v1/verify
MAILER_URLPATHS_RECOVERY=/auth/v1/verify
PGRST_DB_SCHEMAS=public,storage,graphql_public
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POSTGRES_DB=postgres
POSTGRES_HOSTNAME=supabase-db
POSTGRES_PORT=5432
SECRET_PASSWORD_REALTIME=
SMTP_ADMIN_EMAIL=
SMTP_HOST=
SMTP_PASS=
SMTP_PORT=587
SMTP_SENDER_NAME=
SMTP_USER=
STORAGE_S3_BUCKET=
STORAGE_S3_ENDPOINT=
STORAGE_S3_REGION=
STUDIO_DEFAULT_ORGANIZATION=
STUDIO_DEFAULT_PROJECT=